<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> 投稿に失敗しました</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="field py-3">
    <%= form.label :質問者名 %>
    <%= form.text_field :user_name %>
  </h4>

  <h4 class="field py-3">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </h4>

  <h4 class="field py-3">
    <%= form.label :質問内容 %>
    <%= form.text_area :content %>
  </h4>

  <h4 class="field py-3">
    <%= form.label :困ってる度 %>
    <%= form.number_field :priority %>
  </h4>

  <h4 class="actions py-3">
    <%= form.submit "質問する" %>
  </h4>
<% end %>
