
<% @id = params[:id] %>
<% @id = @id.to_i %>
<% @questionf_id = Question.find(@id) %>
<% @questionf_id.user_name %>


<div class="post container mx-auto my-5 py-5 border row">


    <div class="name col-6">
        <h3><%= @questionf_id.user_name %></h3>
    </div>

    <div class="komaru col-3">
        <p>困ってる度</p>
        <p><%= @questionf_id.priority %></p>
    </div>

    <div class="date col-3">
        <p>質問日</p>
        <p>2021年3月26日</p>
    </div>

    <div class="title col-12 py-3">
        <h1><%= link_to"タイトル","/detail/#{@questionf_id.id}"%></h1>
    </div>

    <div class="accordion col-12" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                 <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= @questionf_id.id%>" aria-expanded="true" aria-controls="collapseOne">
                 <%= @questionf_id.title %>
                 </button>
                </h5>
            </div>

            <div id="collapse<%= @questionf_id.id%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <%= @questionf_id.content %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= form_tag("/detail/#{@id.to_i}") do %>
    <div class="col-4 pt-3">回答欄</div>
        <div class="accordion my-6 col-8" id="accordionExample">
            <div class="card"> 
                <textarea class="col-12 " name="user_name"></textarea>
                <textarea class="col-12 " name="content"></textarea>
                <input type="submit" value="回答する">
            </div>
        </div>
    </div>

        <%
=begin%>
 <%= @questionsa = Answer.new(user_name:params[:user_name],content:params[:content],question_id:@id.to_i)%>
        <%= @questionsa.save%> 
<%
=end%>
<% end %>
<% @answer_qsid = Answer.where(question_id: params[:id])%>
<% @answer_qsid.each do |answer| %>
    <div class="post container mx-auto my-5 py-5 border row">


        <div class="name col-6">
            <h3><%= answer.user_name %></h3>
        </div>



        <div class="date col-3">
            <p>質問日</p>
            <p>2021年3月26日</p>
        </div>


        <div class="accordion col-12" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-<%= @questionf_id.id %>" aria-expanded="true" aria-controls="collapseOne">
                            <%= answer.content%>
                        </button>
                    </h5>
                </div>
            </div>
        </div>

    </div>
<% end %>
