<%= stylesheet_link_tag "style", :media => "all" %>
<%= javascript_include_tag "" %>
<p>
<% @questions.each do |question| %>
  <div class="post container mx-auto my-5 py-5 border row">

    <div class="name col-6">
        <h3><i class="fas fa-user-graduate icon"></i><%= question.user_name %></h3>
    </div>

    <div class="komaru col-3">
        <p　class="font-weight-bold">困ってる度</p>


        <% for i in 1..question.priority do %>
          <i class="far fa-dizzy icon"></i>
        <% end %>  

    </div>
    

    <div class="date col-3">
        <p><i class="far fa-calendar-alt icon"></i> 質問日</p>
        <%= question.created_at.strftime('%Y/%m/%d')%>
    </div>

    <div class="title col-12 py-3">
        <h1><%= question.title%></h1>
        <%= link_to"回答する","questions/detail/#{question.id}"%></a><i class="far fa-comments icon"></i>
    </div>

    <div class="accordion col-12" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= question.id%>" aria-expanded="true" aria-controls="collapseOne">
              詳細
            </button>
          </h5>
        </div>

        <div id="collapse<%= question.id%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h4><%= question.content %></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="response col-12 text-right">
        <p class="p-1 pr-3">◯件の返信</p>
    </div>
  </div>
<% end %>







<%= icon("fab", "twitter", class: "twitter-icon") %>

<p id="notice"><%= notice %></p>

<h1>質問一覧</h1>

<table>
  <thead>
    <tr>
      <th>質問者</th>
      <th>タイトル</th>
      <th>質問内容</th>
      <th>困ってる度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user_name %></td>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.priority %></td>
        <td><%= link_to '詳細', question %></td>
        <td><%= link_to '編集', edit_question_path(question) %></td>
        <td><%= link_to '削除', question, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<i class="fas fa-allergies"></i>
</div>
<i class="far fa-meh"></i>


<%= link_to 'New Question', new_question_path %>



<%= link_to '質問する', new_question_path %>

