<p id="notice"><%= notice %></p>

<p>
  <strong>回答者:</strong>
  <%= @answer.user_name %>
</p>

<p>
  <strong>回答内容:</strong>
  <%= @answer.content %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<%= link_to '編集', edit_answer_path(@answer) %> |
<%= link_to '回答する', "/questions/detail/#{@answer.question_id}" %>
